.git/
.gitignore

# Docs not needed in the test image
*.md
documentation*.md

.env
.env.*
.pytest_cache/
*.egg-info/
.eggs/
__pycache__/
*.pyc
dist/
build/
htmlcov/
.tox/
coverage/
.coverage
.coverage.*

Thumbs.db
